<div class="container">
    {{#each horoscopes}}
      <div class="card-body">
         <img class="img-thumbnail" src={{this.img}} />
   <p class="lh-base">{{this.description}}</p>
    </div>
    {{/each}}
  </div>